
##################################################################
# THIS .env example is meant for docker compose, use the .env    #
# inside api-new/ and web-new/ if you are using pnpm run dev     #
##################################################################

# Database connection

# Environment
NODE_ENV=

# api 
JWT_SECRET=
ROOT_USER=
ROOT_PASSWORD=
SALT_ROUNDS=
API_PORT=


#database, match this with "container_name" of databse docker conainer in docker-compose.yml
DB_HOST="aws-new-postgres"

DB_PORT=5432
DB_USER="postgres"
DB_PASS=
DB_NAME=

# for generic smtp
SMTP_USER=
SMTP_PASS=
SMTP_HOST=

# for gmail smtp
GOOGLE_APP_PASSWORD=
GMAIL_USER=


# Redis Configuration for BullMQ
REDIS_HOST="aws-ticket-redis"
REDIS_PORT=6379


