# api 
JWT_SECRET=""
ROOT_USER=""
ROOT_PASSWORD=""
SALT_ROUNDS=
API_PORT=3001
PORT=3000
CORS_ORIGINS=http://localhost:3000,http://localhost:3001


#database
DB_HOST="localhost"
DB_PORT=5432
DB_USER="postgres"
DB_PASS="postgres"
DB_NAME="aws-ticket"

#email
SMTP_USER=
SMTP_PASS=
SMTP_HOST=

# GMAIL
GOOGLE_APP_PASSWORD=
GMAIL_USER=

# AWS CRED if using SES
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
EMAIL_FROM=

# Redis Configuration for BullMQ
REDIS_HOST="localhost"
REDIS_PORT=6379


