# api 
JWT_SECRET=
ROOT_USER=
ROOT_PASSWORD=
SALT_ROUNDS=
API_PORT=3001


#database
DB_HOST="aws-new-postgres"
DB_PORT=5432
DB_USER="postgres"
DB_PASS=
DB_NAME=

#email
SMTP_USER=
SMTP_PASS=
SMTP_HOST=

GOOGLE_APP_PASSWORD=
GMAIL_USER=

# Redis Configuration for BullMQ
REDIS_HOST="aws-ticket-redis"
REDIS_PORT=6379

